#files
*.suo
*.sdf
*.obj
*.o
*.a
*.cmake
*.opensdf
*.user
*.3-pre1
*.exe
*.pc
*.cbp
Makefile
CMakeCache.txt

#folders
thirdparty-bin/

LIB Debug/
Debug/
Release/
CMakeFiles/

songtaste-build/
list-build/
test-build/
down-build/
parse-build/
CppRegexTester-build/
jsoncpp-0.7.0-build/
