#files
*.suo
*.sdf
*.obj
*.o
*.a
*.cmake
*.opensdf
*.user
*.3-pre1

#folders
LIB Debug/
Debug/
Release/
CMakeFiles/

songtaste-build/
list-build/
test-build/
down-build/
parse-build/
CppRegexTester-build/

jsoncpp-0.7.0-build/
